<div class="page-sidebar">
    <a class="logo-box" href="#">
        <span>Drive School</span>
        </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li class="active-page">
                    <a href="/school_dashboard">
                        <i class="menu-icon icon-home4"></i><span>School Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/learnkit">
                        <i class="menu-icon icon-inbox"></i><span>Learning Kits</span>
                    </a>
                </li>
                <li>
                    <a href="/trainees">
                        <i class="menu-icon icon-info"></i><span>Trainees</span>
                    </a>
                </li>

                <li>
                    <a href="index.html">
                        <i class="menu-icon icon-help_outline"></i><span>About Us</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <i class="menu-icon icon-public"></i><span>Settings</span><span class="label label-danger">1.0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
