<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/style.ejs%>
    <title>Space - Responsive Admin Dashboard Template</title>

</head>
<body>

<div class="page-container">
    <% include partials/sidebar.ejs %>
    <div class="page-content">
        <% include partials/dashboard-header.ejs%>


        <div class="page-inner">


            <div class="page-title">
                <h3 class="breadcrumb-header">Dashboard</h3>
            </div>


            <% include partials/dashboard-footer.ejs %>
        </div>
    </div>
</div>
    <% include partials/scripts.ejs %>
</body>
</html>