<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/style.ejs %>
    <title>Space - Responsive Admin Dashboard Template</title>
    <% include partials/scripts.ejs %>
</head>
<body>

<div class="page-container">
    <% include partials/sidebar.ejs %>

    <div class="page-content">

        <% include partials/dashboard-header.ejs %>
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header"><%= title %></h3>
            </div>
            <div id="main-wrapper">
                <div class="content">
                    <% if(type==1){ %>
                    <% include admin-dashboard/schools.ejs %>
                    <%  } else if(type=="LearnKit"){%>
                    <% include admin-dashboard/learningkit.ejs %>
                    <%} %>
                </div>
                <% include partials/dashboard-footer.ejs %>
            </div>

        </div>
    </div>
</div>
</body>
</html>
